<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}"/>
    <link rel="stylesheet" href="../static/css/flight-map.css" th:href="@{/css/flight-map.css}"/>

    <!-- jQuery -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- JS file for Google map -->
    <script src="../static/js/flight-map.js" th:src="@{/js/flight-map.js}"></script>

    <title>Map View</title>
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <h3>My Google Maps Demo</h3>
          <div id="flight-map"></div>
            <script>
            initMap();
            </script>
            <!-- Below is for the Thymeleaf version to parse the src attibute. However, it is not rendered by browser -->
            <!--  
            <script async="async" defer="defer"
                    th:src="@{https://maps.googleapis.com/maps/api/js(key='AIzaSyB7fhW-L2utHgk-91SA3Ji5ngnhk7Ap9Nk', callback='initMap')}">
            </script>
            -->
            <!-- Remember to escape '&' to '&amp;' -->
            <script async="async" defer="defer"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7fhW-L2utHgk-91SA3Ji5ngnhk7Ap9Nk&amp;callback=initMap">
            </script>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>